In [42]:
import pandas as pd 
from funcoes import *
clube = "Palmeiras"

partidas_teste = { "partidas": [ [ { "adversario": "Bragantino", "clube": "Palmeiras", "data": "21/09/2022", "resultado": "1x1" }, { "adversario": "S\u00e3o Paulo", "clube": "Palmeiras", "data": "21/09/2023", "resultado": "1x8" }, { "adversario": "Bragantino", "clube": "Palmeiras", "data": "21/09/2022", "resultado": "1x1" }, { "adversario": "Bahia", "clube": "Palmeiras", "data": "10/09/2024", "resultado": "0x1" }, { "adversario": "Cruzeiro", "clube": "Palmeiras", "data": "19/11/2024", "resultado": "3x1" }, { "adversario": "Sport", "clube": "Palmeiras", "data": "08/12/2023", "resultado": "4x1" }, { "adversario": "Santos", "clube": "Palmeiras", "data": "01/03/2024", "resultado": "0x2" }, { "adversario": "Fortaleza", "clube": "Palmeiras", "data": "03/08/2024", "resultado": "3x3" }, { "adversario": "S\u00e3o Paulo", "clube": "Palmeiras", "data": "21/09/2023", "resultado": "1x8" } ], [ { "adversario": "Palmeiras", "clube": "Coritiba", "data": "01/09/2024", "resultado": "0x5" }, { "adversario": "Palmeiras", "clube": "Atl\u00e9tico-PR", "data": "09/10/2024", "resultado": "0x3" } ] ] }


df_partidas = pd.DataFrame(partidas_teste["partidas"][0])
df_partidas

   adversario      clube        data resultado
0  Bragantino  Palmeiras  21/09/2022       1x1
1   São Paulo  Palmeiras  21/09/2023       1x8
2  Bragantino  Palmeiras  21/09/2022       1x1
3       Bahia  Palmeiras  10/09/2024       0x1
4    Cruzeiro  Palmeiras  19/11/2024       3x1
5       Sport  Palmeiras  08/12/2023       4x1
6      Santos  Palmeiras  01/03/2024       0x2
7   Fortaleza  Palmeiras  03/08/2024       3x3
8   São Paulo  Palmeiras  21/09/2023       1x8

In [6]:
df_filtrado = df_partidas[df_partidas['clube'] == clube]
df_filtrado

       clube  adversario        data resultado
0  Palmeiras  Bragantino  21/09/2022       1x1
1  Palmeiras       Vasco  21/09/2021      33x8
2  Palmeiras   Barcelona  22/10/2022       7x1

In [16]:
dados_rupturas = [{}, {'instante_ruptura': '00:04:57', 'inicio_ruptura': '00:04:56', 'zona': 'Zona 2', 'desfecho': 'Forçou a saída de bola adversária', 'nome_jogador_ruptura': 'Vanderlan'}, {'instante_ruptura': '00:10:12', 'inicio_ruptura': '00:10:12', 'zona': 'Zona 1 - B', 'desfecho': 'Passe não concluído', 'nome_jogador_ruptura': 'Rony'}, {'instante_ruptura': '00:15:02', 'inicio_ruptura': '00:15:01', 'zona': 'Zona 1 - B', 'desfecho': 'Passou a bola', 'nome_jogador_ruptura': 'R. Veiga'}, {'instante_ruptura': '00:51:02', 'inicio_ruptura': '00:51:00', 'zona': 'Zona 2', 'desfecho': 'Passou a bola', 'nome_jogador_ruptura': 'Rony'}, {'instante_ruptura': '00:52:28', 'inicio_ruptura': '00:52:27', 'zona': 'Zona 2', 'desfecho': 'Passou a bola', 'nome_jogador_ruptura': 'Mayke'}, {'instante_ruptura': '00:52:57', 'inicio_ruptura': '00:52:55', 'zona': 'Zona 1 - B', 'desfecho': 'Foi desarmado', 'nome_jogador_ruptura': 'Vanderlan'}, {'instante_ruptura': '01:32:37', 'inicio_ruptura': '01:32:36', 'zona': 'Zona 1 - B', 'desfecho': 'Não recebeu a bola', 'nome_jogador_ruptura': 'Richard Rios'}]
df_rupturas = pd.DataFrame(dados_rupturas)
df_rupturas = df_rupturas.iloc[1:]
df_rupturas.head()

,instante_ruptura,inicio_ruptura,zona,desfecho,nome_jogador_ruptura
1,00:04:57,00:04:56,Zona 2,Forçou a saída de bola adversária,Vanderlan
2,00:10:12,00:10:12,Zona 1 - B,Passe não concluído,Rony
3,00:15:02,00:15:01,Zona 1 - B,Passou a bola,R. Veiga
4,00:51:02,00:51:00,Zona 2,Passou a bola,Rony
5,00:52:28,00:52:27,Zona 2,Passou a bola,Mayke

In [18]:
def converter_tempo_para_segundos(tempo_str):
    if not tempo_str:
        return None

    horas, minutos, segundos = map(int, tempo_str.split(':'))

    return horas * 3600 + minutos * 60 + segundos

In [41]:
def trata_video_ruptura(data_rupturas):
    
    tempos_rupturas = []
    for time_id, time_data in data["time"].items():
        rupturas = time_data["rupturas"]
        for ruptura in rupturas:
            inicio_ruptura = ruptura["inicio_ruptura"]
            tempos_rupturas.append(converter_tempo_para_segundos(inicio_ruptura))
            tempos_rupturas.sort()

    dic_tempo_rupturas = {} #a key representa o numero da ruptura e a tupla o inicio e final do video em segundos 
    numero_ruptura = 1
    for ruptura_tempo_sec in tempos_rupturas:
        inicio_video = ruptura_tempo_sec - 5
        final_video = ruptura_tempo_sec + 5
        dic_tempo_rupturas[numero_ruptura] = (inicio_video,final_video)
        numero_ruptura += 1

    return dic_tempo_rupturas

import json 
def pega_dados_videos(path_dado):
    file = open(path_dado)
    data = json.load(file)
    return data 

trata_video_ruptura(pega_dados_videos("quebra.json"))

{1: (291, 301),
 2: (419, 429),
 3: (507, 517),
 4: (607, 617),
 5: (896, 906),
 6: (1277, 1287),
 7: (2257, 2267),
 8: (3055, 3065),
 9: (3142, 3152),
 10: (3170, 3180),
 11: (5551, 5561)}

In [40]:
data = pega_dados_videos("quebra.json")
tempos_rupturas = []
for time_id, time_data in data["time"].items():
    rupturas = time_data["rupturas"]
    for ruptura in rupturas:
        inicio_ruptura = ruptura["inicio_ruptura"]
        tempos_rupturas.append(converter_tempo_para_segundos(inicio_ruptura))
        tempos_rupturas.sort()

dic_tempo_rupturas = {} #a key representa o numero da ruptura e a tupla o inicio e final do video em segundos 
numero_ruptura = 1
for ruptura_tempo_sec in tempos_rupturas:
    inicio_video = ruptura_tempo_sec - 5
    final_video = ruptura_tempo_sec + 5
    dic_tempo_rupturas[numero_ruptura] = (inicio_video,final_video)
    numero_ruptura += 1

print(dic_tempo_rupturas)

{1: (291, 301), 2: (419, 429), 3: (507, 517), 4: (607, 617), 5: (896, 906), 6: (1277, 1287), 7: (2257, 2267), 8: (3055, 3065), 9: (3142, 3152), 10: (3170, 3180), 11: (5551, 5561)}

In [46]:
def trata_video_cruzamentos(data_cruzamentos):

    tempo_video_cruzamentos = {}
    instantes_cruzamentos = []

    for time_id, time_data in data_cruzamentos['time'].items():
        for cruzamento in time_data['rupturas']:
            if time_id == "1":
                instantes_cruzamentos.append(cruzamento['instante_cruzamento'])

    numero_cruzamento = 1 
    for tempo in instantes_cruzamentos:
        tempo_segundos = converter_tempo_para_segundos(tempo)
        inicio_video = tempo_segundos -5 
        final_video =  tempo_segundos + 5
        tempo_video_cruzamentos[numero_cruzamento] = (inicio_video,final_video)
        numero_cruzamento += 1
    return tempo_video_cruzamentos
trata_video_cruzamentos(pega_dados_videos("cruzamentos.json"))

{1: (610, 620),
 2: (900, 910),
 3: (1101, 1111),
 4: (1623, 1633),
 5: (1931, 1941),
 6: (1969, 1979),
 7: (2009, 2019),
 8: (2051, 2061),
 9: (2067, 2077),
 10: (2081, 2091),
 11: (3031, 3041),
 12: (3283, 3293),
 13: (3309, 3319),
 14: (3689, 3699),
 15: (3709, 3719),
 16: (3975, 3985),
 17: (5077, 5087),
 18: (5580, 5590),
 19: (5707, 5717),
 20: (5720, 5730),
 21: (5772, 5782)}

In [44]:
import json 
def pega_dados_videos(path_dado):
    file = open(path_dado)
    data = json.load(file)
    return data 

trata_video_cruzamentos(pega_dados_videos("cruzamentos.json"))

{1: (63, 73),
 2: (162, 172),
 3: (542, 552),
 4: (736, 746),
 5: (1308, 1318),
 6: (1328, 1338),
 7: (1446, 1456),
 8: (1545, 1555),
 9: (4795, 4805),
 10: (610, 620),
 11: (900, 910),
 12: (1101, 1111),
 13: (1623, 1633),
 14: (1931, 1941),
 15: (1969, 1979),
 16: (2009, 2019),
 17: (2051, 2061),
 18: (2067, 2077),
 19: (2081, 2091),
 20: (3031, 3041),
 21: (3283, 3293),
 22: (3309, 3319),
 23: (3689, 3699),
 24: (3709, 3719),
 25: (3975, 3985),
 26: (5077, 5087),
 27: (5580, 5590),
 28: (5707, 5717),
 29: (5720, 5730),
 30: (5772, 5782)}